
/*
    Theme Name: khulienhop
	Theme URI: http://khulienhop.vn
	Description: http://khulienhop.vn center homepage
	Author: diep	
	Author URL: http://khulienhop.vn
	Version: 1.5
	Template: genesis
   
*/
/*
  960 Grid System ~ Text CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/

* {
	margin:0;
	padding:0
}
a{
	text-decoration:none;
	color:#000;
}
body, td, th {
	font-family: Arial;
	font-size: 12px;
	margin: 0;
}
body {
	background-color: #fff;
	background-image: url(../images/bg.png);
	background-position: left top;
	background-repeat: repeat;
	margin: 0;
}
.clear {
	clear: both;
}
.clearfix {
	display: block;
}
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
h1, h2, h3, h5, form, select, input {
	font-family: Arial;
	font-size: 12px;
	margin: 0;
	text-align: left;
}
#wrapper {
	height: auto !important;
	width: 1060px;
	margin:auto;
	background:#fff;
	padding:0 11px;
}
#header {
	width: 100%;
	margin:auto;
	height: 279px;
	overflow: hidden;
	background-color: #fff;
}
#header #banner {
	width: 100%;
	height: 224px;
	overflow: hidden;
	background-color: #fff;
	
	background-position: left top;
	background-repeat: no-repeat;
}
#header #banner p.logo {
	width:250px;
	height:76px;
	margin-top:28px;
	margin-left:58px;
	background-image: url(../images/logo.png);
	background-position: left top;
	background-repeat: no-repeat;
}
#header #navi_top {
	margin-top:3px;
	width: 100%;
	height: 47px;
	background:#F5F5F5;
	background-repeat: repeat-x;
	background-position: left top;
	overflow: hidden;
	position: relative;
	z-index: 1;
	
}
ul, ul li {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
ul.line_top {
	float:left;	
	width:900px;
}
ul.tag{
	float:right;
	width:122px;
	padding-top: 10px;
}
ul.tag li{
	float:left;
	padding-right:10px;
	height:47px;
	line-height:47px;
}
ul.line_top li {
	font-size: 11px;
	color: #000;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	height:47px;
	width:120px;
}
ul.line_top li{	
	position: relative;
	z-index: 1;
	padding-right: 2px;
	background:url("images/navi_topS.jpg") no-repeat scroll right top #F5F5F5;
}
ul.line_top li a {
	color: #666;
	text-transform:uppercase;
}
ul.line_top li a {
	color: #666;
	line-height: 47px;
	padding-left: 17px;
	padding-right: 15px;
	font-size: 12px;
	font-weight: bold;
	text-decoration:none;
}
ul.line_top li.current-menu-item,ul.line_top li:hover {
	background:url("images/navi_topS.jpg") no-repeat scroll right top #FFFFFF;
}
ul.line_top li.current-menu-item a,ul.line_top li:hover a {
	color:#008cc6;
}
#header #navi_top div.leftM {
	background:none;
	float:left;
	width:4px;
	height:47px;
}
#header #navi_top div.rightM {
	background:none;
	float:left;
	width:3px;
	height:47px;
}
#header #navi_top li.search {
	float:right;
}
#header #navi_top li div.search {
	float:right;
	margin:10px 10px 10px 0;
}
#header #navi_top li div.search .textSearch {
	width:142px;
	height:27px;
	float:left;
	padding:0 5px;
}
#header #navi_top li div.search .btnSearch {
	width:67px;
	float:left;
	background-color:#d0d0d0;
	border:none;
	height:29px;
	cursor:pointer;
}
#container {
	width: 100%;
}
#container .a-column {
	width: 210px;
	float:left;
}
#container .a-column .topLeft {
	background:#F5F5F5;
	height:4px;
	background:url(images/center_bo_top.jpg);
}
#container .a-column .midleLeft {
	height:20px;
	padding-top:3px;
	background:url(images/center_bo_mid.jpg);
}
#container .a-column .midleLeft span {
	color:#fff;
	font-weight:bold;
	margin-left:13px;
	font-size:12px;
}
#container .a-column .containLeft {
	padding:7px 0;
	width:208px;
	margin-bottom:10px;
	border:1px solid #d9d9d9;
}
#container .a-column .containLeft .category {
	width:100%;
}
#container .a-column .containLeft .category h2 {
	float:left;
	padding-left:12px;
	line-height:28px;
	width:195px;
	height:28px;
	border-bottom:1px dotted #D9D9D9;
}
#container .a-column .containLeft .category h2 a {
	color:#000;
	font-weight:normal;
	text-decoration:none;
	text-transform:uppercase;
}
#container .a-column .containLeft .category h2 a:hover{
	color:#019bdb;
	font-weight:normal;
	text-decoration:underline;
	text-transform:uppercase;
}

#container .a-column .containLeft .tigia {
	width:100%;
	height:255px;
}
#container .a-column .containLeft .tigia img{
	margin:5px 0px;
}
#container .a-column .containLeft .tigia p.co {
	float:left;
	margin-right:13px;
	margin-left:15px;
	font-weight:bold;
	width:auto;
}
#container .a-column .containLeft .tigia p.me {
	float:left;
	font-weight:bold;
	width:70px;
}
#container .a-column .containLeft .truycap {
	text-align:center;
}
#container .contain {
	width: 620px;
	margin:0 10px;
	float:left;
}
#container .contain .slideIndex {
	margin-bottom:12px;
}
#container .contain .topBo {
	background:url(images/center_bo_top.jpg);
	height:4px;
}
#container .contain .midBo {
	height:20px;
	padding-top:3px;
	background:url(images/center_bo_mid.jpg);
}
#container .contain .midBo span {
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	margin-left: 22px;
}
#container .contain .midKBo {
	height:30px;
	line-height:30px;
	padding-top:3px;
	background:#F5F5F5;
}
#container .contain .midKBo span {
	color: #666;
	font-size: 12px;
	font-weight: bold;
	margin-left: 22px;
}
#container .contain .containCenter {
	border: 1px solid #D9D9D9;
	margin-bottom: 10px;
	padding: 10px 19px;	
	width: 580px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
#container .contain .containCenter .hotNews {
	width:223px;
	float:left;	
}
#container .contain .containCenter .hotNews h2 {
	padding:16px 0;
}
#container .contain .containCenter .hotNews h2 a {
	color:#000;
	font-weight:bold;
}
#container .contain .containCenter .hotNews p {
	text-align:justify;
}
#container .contain .containCenter ul.listOtherNewsIndex {
	float:right;
	width:300px;
}
#container .contain .newIndex {
	padding-top:15px !important;
}
#container .contain .containCenter ul.listOtherNewsIndex li {
	line-height:18px;
	height:45px;
	padding-left:10px;
	background:url(images/list.jpg) no-repeat 0px 8px;
}
ul.sanpham {
	padding:21px 0;
	width:100%;
	list-style:none;
}
ul.sanpham li {
	list-style:none;
	float:left;
	margin-right:22px;
	margin-left:23px;
	height:200px;
}
ul.sanpham li.last {
	margin-right:0 !important;
}
ul.sanpham li img {
	border:1px solid #d9d9d9;
	width:144px!important;
	height:142px!important;	
}
ul.sanpham li h2 {
	margin:15px 0;
	text-align:center;
	width:120px;
}
ul.sanpham li h2 a,  ul.sanpham li h2 a:active {
	font-weight:normal;
	text-decoration:none;
	color:#000;
}
ul.sanpham li h2 a:hover{
	text-decoration:underline;
}
#container .c-column {
	width: 210px;
	float:left;
}
#container .c-column .support {
	
	width:230px;
	border-left:1px solid #d9d9d9;
	border-right:1px solid #d9d9d9;
}
#container .c-column p.title {
	font-size:18px;
	font-weight:normal;
	margin-left:22px;
	margin-bottom:13px;
}
#container .c-column p.phoneSupport {
	font-size:14px;
	font-weight:bold;
	margin-left:22px;
	margin-bottom:8px;
	color:#DC2525;
}
#container .c-column p.iconYH {
	background:url("images/yh.jpg") no-repeat scroll left top transparent;
	float:left;
	width:70px;
	margin-left:2px;
	height:26px;
}
#container .c-column p.iconGM {
	background:url("images/logo gmail.jpg") no-repeat scroll left top transparent;
	float:left;
	width:30px;
	margin-right:10px;
	height:16px;
}
#container .c-column p.iconSky {
	
	float:left;
	width:100%;
	margin-left:2px;
	margin-bottom:5px;
	height:26px;
}
#container .c-column p.nichYH {
	float:left;
	height:26px;
	width:130px;
}
#container .c-column .topsupport {
	background:url("images/supportTop.jpg") no-repeat scroll left top transparent;
	height:4px;
}
#container .c-column .botsupport {
	background:url("images/supportBot.jpg") no-repeat scroll left top transparent;
	height:4px;
	margin-bottom:12px;
}
#container .c-column .topRight {
	background:url(images/center_bo_top.jpg);
	height:4px;
}
#container .c-column .midleRight {
	height:20px;
	padding-top:3px;
	background:url(images/center_bo_mid.jpg);
	
}
#container .c-column .midleRight span {
	color:#fff;
	font-weight:bold;
	margin-left:13px;
	font-size:12px;
}
#container .c-column .video {
	margin-bottom:10px;
	width:202px;
	height:auto;
}
#container .c-column .pro_hot {
	margin-bottom:10px;
	width:210px;
	height:auto;
	border:1px solid #ccc;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
#container .c-column .bannerRight {
	width:202px;
	height:auto;
}
/*    Footer trang web    */
#footer {
	margin-top:20px;
}
#footer p.copyright {
	margin:20px 0;
	text-align:center;
}
#footer .topFmenu {
	background:#F5F5F5;
	height:5px;
}
#footer .midFmenu {
	background:#F5F5F5;
	height:38px;
	padding-left:238px;
	width:822px;
}
#footer .midFmenu .fMenu {
	list-style:none;
	width:100%;
}
#footer .midFmenu .fMenu li {
	float:left;
	padding:0 13px;
	line-height:38px;
	background: url("images/navi_topS.jpg") no-repeat scroll right top #f5f5f5;
}
#footer .midFmenu .fMenu li a, #footer .midFmenu .fMenu li a:hover, #footer .midFmenu .fMenu li a:active {
	color:#666;
	text-decoration:none;
	text-transform:uppercase;
}
#footer .botomLogo {
	width:100%;
	height:auto;
	text-align:center;
}
#footer .botomLogo img {
	margin-left:16px;
}
#footer .botomFmenu {
	background:#F5F5F5;
	height:5px;
}
/*   Chi tiết sản phẩm */
#container .contain .spChiTiet {
	width:619px !important;
	padding:25px 0 0 0 !important;
}
#container .contain .spChiTiet .chitiet {
	padding: 0 19px !important;
	width: 558px !important;
}
#container .contain .containCenter .imgshow {
	width:267px;
	padding-bottom:30px;
	float:left;
	margin-right:30px;
}
#container .contain .containCenter .aboutSp {
	width:260px;
	line-height:28px;
	float:left;
}
#container .contain .containCenter .aboutSp span {
	color:red;
}
#container .contain .containCenter .detailsSp {
	width:100%;
}
#container .contain .containCenter .detailsSp .title {
	font-weight:bold;
	color:#0092d0;
	margin-bottom:5px;
}
#container .contain .containCenter .detailsSp .dt {
	line-height:28px;
}
#container .contain .containCenter div.spCungLoai {
	margin-top:30px;
	width:100%;
}
#container .contain .containCenter div.spCungLoai .topTitle {
	margin-left:13px;
	background:url("images/spOther.jpg") no-repeat scroll left top transparent;
	height:4px;
}
#container .contain .containCenter div.spCungLoai .midTitle {
	margin-left:13px;
	background:url("images/spOther2.jpg") repeat-x scroll left top transparent;
	height:26px;
	width:141px;
	line-height:26px;
}
#container .contain .containCenter div.spCungLoai .midTitle span {
	color:#fff;
	font-weight:bold;
	margin-left:13px;
	font-size:12px;
}
#container .contain .containCenter div.hr {
	width:100%;
	background:#008ac4;
	height:1px;
}
/*  Tin tức */
#container .contain .listTinTuc {
	padding: 14px !important;
	width: 590px !important;
}
#container .contain .listTinTuc .itemNews {
	width:100%;
	margin-bottom:20px;
	float:left;
}
#container .contain .listTinTuc .img {
	width:124px;
	float:left;
	margin-right:21px;
}
#container .contain .listTinTuc .titleNews {
	width:440px;
	float:left;
	margin-bottom:13px;
}
#container .contain .listTinTuc .titleNews a {
	color:#000;
	font-weight:bold;
}
#container .contain .listTinTuc .short {
	width:420px;
	float:left;
	text-align:justify;
}
/* Phân trang */
div.paging {
	width:100%;
	float:left;
	text-align:right;
	margin-bottom:10px;
}
div.paging span {
	font-weight:normal;
	padding:0 3px;
}
div.paging span a {
	font-weight:normal;
}
div.paging span a.selected {
	color:#0094d2;
	font-weight:bold;
}
/* Tin tức chi tiết */
#container .contain .listTinTuc .titleCT {
	width:100%;
	margin-bottom:15px;
}
#container .contain .listTinTuc .titleCT h1 {
	font-weight:bold;
	font-size:13px;
}
#container .contain .listTinTuc .descCT {
	margin-bottom:10px;
}
#container .contain .listTinTuc .descCT h2 {
	font-weight:bold;
	text-indent:15px;
}
#container .contain .listTinTuc .imgCT {
	margin-bottom:10px;
}
#container .contain .listTinTuc .imgCT img {
	max-width:568px;
}
#container .contain .listTinTuc .fullCT {
}
#container .contain .listTinTuc .otherNews {
	margin-top:35px;
}
#container .contain .listTinTuc .otherNews p {
	color:#009ada;
	margin-bottom:7px;
	font-weight:bold;
}
#container .contain .listTinTuc .otherNews ul {
}
#container .contain .listTinTuc .otherNews li {
	background:url("images/list.jpg") no-repeat scroll left 8px transparent;
	padding-left:15px;
	height:23px;
	line-height:21px;
}
#container .contain .listTinTuc .otherNews li a {
}
/* Liên hệ*/
.titleContact {
	font-weight:bold;
	margin-top:25px;
	margin-bottom:20px;
}
.titleContact2 {
	line-height:20px;
}
.formContact {
	width:100%;
	height:auto;
	margin-top:20px;
}
.formContact p {
	width:220px;
	float:left;
	height:30px;
}
.formContact p.area {
	margin-bottom:11px;
	width:430px;
	float:left;
	height:150px;
}
.formContact p input {
	width:190px;
	height:16px;
	padding:3px 5px;
	border:1px solid #d9d9d9;
}
.formContact p.area input {
	width:403px;
	height:140px;
	padding:7px 11px 3px 5px;
	border:1px solid #d9d9d9;
}
.formContact p input.submit {
	padding:0 !important;
	height:34px;
	width:73px;
	border:none;
	background:url("images/submitContact.jpg") no-repeat scroll left 8px transparent;
}
.formContact p.sub {
	margin-bottom:11px;
	width:430px;
	float:left;
	height:35px;
}
.about {
	text-align:justify;
	padding:10px 0;
	line-height:20px;
}
.about p.title {
	color:#008bc5;
	font-weight:bold;
}
ul.product_hot li,ul.product_hot li h2{
	text-align:center;
	margin:10px 0px;
}
ul.product_hot img{
	border: 1px solid #D9D9D9;
    height: 142px !important;
}
ul#menu-left_menu{
	margin:0px;
	padding:0px;
	margin-bottom:10px;
}
ul#menu-left_menu li{
	line-height:30px;
	height:30px;
	border:1px dotted #ccc;
	overflow:hidden;
}

ul#menu-left_menu li a{
	color:#333333;
	text-transform:uppercase;
	padding-left:10px;
}

h4.widgettitle{
	width: 210px;
    height: 27px;
    color: #fff;
    text-align: center;
    line-height: 27px;
    background: url(images/bg_title.png);
}

.textwidget{
	border:1px solid #ccc;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	margin-bottom:10px;
}
p{
	line-height:23px;
}
ul.related{
	margin:10px 0px;
}
ul.related li{
	float: left;
    height: 200px;
    list-style: none outside none;
    margin-left: 13px;
    margin-right: 12px;	
	width:160px;
}

ul.related li img {
    border: 1px solid #D9D9D9;
    height: 142px !important;
	margin-bottom: 10px;
}

ul.related li a {
    color: #333;    
}
.midBo a{
	text-transform:uppercase;
	color:#666;
}
a.more-link{
	float:right;
	color:#0098D7;
	padding-top:20px;
}
a:hover{
	text-decoration:underline;
}
.chitiet h3{
	padding-bottom:10px;
	font-size:14px;
}
p#wpml_credit_footer{
	display:none;
}
#commentform input#author,input#email,input#url{
	height:22px;
	margin:5px 0px;
}
.searchform{
	margin-bottom:10px;
	border:1px solid #ccc;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.s{
	padding:3px;
	border:1px solid #ccc;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin:5px;
	height:20px;
}
.searchsubmit{
	background:#019CDE;
	color:white;
	height:30px;
}

.detailsSp img{
	max-width: 580px;
}



